.main {
    overflow-x: hidden;
    overscroll-behavior-x: none;
    width: 100vw;
    max-width: 100%;
    position: relative;
}

@media (min-width: 393px) {
    .main {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: white;
        overflow-x: hidden;
        overscroll-behavior-x: none;
        width: 100vw;
        max-width: 100%;
        position: relative;
    }

    .menuicon {
        position: absolute;
        top: 40px;
        right: 70px;
        display: flex;
        z-index: 7;
    }

    .menuPicCon {
        position: relative;
        width: 58px;
        height: 58px;
        aspect-ratio: 1;
    }

    .menuPic {
        object-fit: contain;
    }

    .inactive {
        display: none;
    }
}

@media (max-width: 393px) and (max-height: 852px) {
    .main {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: white;
        overflow-x: hidden;
        overscroll-behavior-x: none;
        width: 100vw;
        max-width: 100%;
        position: relative;
    }

    .menuicon {
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        z-index: 7;
    }

    .menuPicCon {
        position: relative;
        width: 37px;
        height: 37px;
        aspect-ratio: 1;
    }

    .menuPic {
        object-fit: contain;
    }

    .inactive {
        display: none;
    }
}