.main {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.menuicon {
    position: absolute;
    top: 40px;
    right: 70px;
    display: flex;
    z-index: 7;
}

.menuPicCon {
    position: relative;
    width: 58px;
    height: 58px;
    aspect-ratio: 1;
}

.menuPic {
    object-fit: contain;
}

.inactive {
    display: none;
}